
/* Style for the header navigation component */

.header {
    background-color: #a02121;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: 272px;
    text-align: left;
    height: 79px;
    width: 1168px;
    border-width: 1168px;
    border-bottom: 1px solid green;
  }

  
  .header h4 {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-top: 24px;
    margin-left: 24px;

  }

  .header-image-1 {
    width: 24px;
    height: 24px;
  }

  .header-image-2{
    width: 40px;
    height: 40px;
  }
  
  .header-image-3{
    width: 24px;
    height: 24px;
  }

  /* Style for the side navigation component */

.side-nav {
    width: 272px; 
    height: 900px;
    background-color: #333;
    color: #fff;
    margin-top: -80px;
  }
  
  .dashboard-image {
    width: 100%; 
    max-height: 150px; 
    display: block; 
    margin-bottom: 20px; 
  }
  
  .side-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .side-nav li {
    margin-bottom: 10px;
  }
  
  .side-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  .side-nav h3 {
    margin: 0;
  }
  