
/* Style for the header navigation component */

.header {
    background-color: #a02121;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: 272px;
    text-align: left;
    height: 79px;
    width: 1168px;
    border-width: 1168px;
    border-bottom: 1px solid green;
  }

  
  .header h4 {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-top: 24px;
    margin-left: 24px;

  }

  .header-image-1 {
    width: 24px;
    height: 24px;
  }

  .header-image-2{
    width: 40px;
    height: 40px;
  }
  
  .header-image-3{
    width: 24px;
    height: 24px;
  }

  /* Style for the side navigation component */

.side-nav {
    width: 272px; 
    height: 900px;
    background-color: #333;
    color: #fff;
    margin-top: -80px;
  }

  .dashboard-button {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dashboard-image-1 {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
  }
  
  .side-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  .side-nav h3 {
    margin: 0;
    padding-top: 24px;
    padding-left: 49px;
  }

  .rectangle-430 {
    height: 80px;
    width: 272px;
  }

  /* Style for the frame component */

.frame {
    background-color: #f2f2f2;
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    height: 120px;
    margin-left: 296px;
    margin-top: -796px;
    
  }
  
  .frame-content{
    height: 120px;
  }

  .frame h3 {
    font-size: 24px;
    width: 600px;
    margin-left: 16px;
    margin-top: 18px;
    margin-bottom: 0;
  }
  
  .frame p {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
    margin-left: 16px;
  }
  
  .frame a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 16px;
  }
  
  .frame-text {
    margin-top: 12px;
  }

  .frame-image-1 {
    width: 167px;
    height: 120px;
    margin-left: -26px;
    margin-bottom: -5px;
  }
  
  .frame-image-2 {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-bottom: 80px;
    margin-right: 16px;
  }
  
 /* Style for the task list component */

  .Container{
    float:right;
    width: 656px;
    height: 632px;
    background-color: rgb(73, 80, 60);
    margin-right: 540.22px;
    margin-top: 24px; 
}

.card-header{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: black;
}

ul.list-group-flush {
    padding-left: 0;
}
.card-modification{
  
    color: blanchedalmond;
    width: 656px

}

.list-group-item {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  .list-group-item .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .bell {
    margin-right: 10px;
    margin-left: 16px;
  }
  
  .todo {
    flex-grow: 1;
    text-align: left;
    font-size: 12px;
    width: 60%;
  }
  
  .complete,
  .inprogress,
  .date {
    margin-left: 10px;
    font-size: 12px;
    
  }
  .complete{
    color: green;
    background-color: rgb(199, 214, 225);
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
  }
  .inprogress{
    color: yellow;
    background-color: rgb(199, 214, 225);
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .markasdone {
   
    font-size: 12px;
    color: red;
  }
  .pagination{
    color: black;
    height: 40px;
    margin-top: 0;
    text-align: center;
  }
 
 /* Style for the activity feeds component */
 /* Style for the priority chart component */
  