
/* Style for the header navigation component */

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: 272px;
    text-align: left;
    height: 80px;
    width: 1075px;
  }

  .divider {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 1075px; 
    height: 100px; 
    background-color: #1ead49; 
  }
  
  .header h4 {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-top: 24px;
    margin-left: 24px;

  }

  .header-image-1 {
    width: 24px;
    height: 24px;
  }

  .header-image-2{
    width: 40px;
    height: 40px;
  }
  
  .header-image-3{
    width: 24px;
    height: 24px;
  }

  