/* Media query for screens smaller than 576px (Mobile view) */

@media (max-width: 576px) {

.header {
  margin-left: 0;
  width: 100%;
}

.side-nav {
  display: none;
}

.frame {
  width: 100%;
  margin-left: 0;
}

.Container {
  margin-left: 0;
  width: 100%;
}

.activity-container {
  margin-left: 0;
  width: 100%;
}

.priority-container {
  margin-left: 0;
  width: 100%;
}

}